<html>
  <head>
    <title>404 Error</title>
    <% include ../views/templates/head %>
  </head>
  <style>
  .center {
    width: 500px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  </style>
  <body>
  <div class="row center">
  <div class="col-md-12 text-center"  >
    <h1>404</h1>
    <h3>Page does not exist</h3>
    <h2><a href="/">Go Home</a></h2>
  </div>
  </div>
  </body>
</html>
