<!DOCTYPE html>
<html>
<head>
    <title>Energy</title>
    <% include ../views/templates/head %>
    <script src="/javascripts/compare.js"></script>
</head>
<body>

<% include ../views/templates/nav %>

<h1>Compare Sections</h1>


<div class="row">
    <div class="col-md-12">
    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>
    </div>

</div>

<div id="compare-div">

</div>




<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="search-btn-compare">Search</button>
    </div>
</div>


<div class="row">
    <div class="col-md-3" id="tableA"><h4>Table A</h4></div>
    <div class="col-md-3" id="tableB"><h4>Table B</h4></div>
    <div class="col-md-3" id="tableC"><h4>Table C</h4></div>
    <div class="col-md-3" id="tableD"><h4>Table D</h4></div>
</div>


</body>
<script src="/javascripts/bar.js"></script>
</html>