<!DOCTYPE html>
<html>
<head>
    <title>Energy</title>
    <% include ../views/templates/head %>
    <script src="/javascripts/compare.js"></script>
</head>
<body>
<h1>Compare Sections</h1>


<div class="row">
    <div class="col-md-12">
    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>
    </div>

</div>

<div id="compare-div">

</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="genSection-btn">Generate</button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="search-btn-compare">Search</button>
    </div>
</div>








</body>
<script src="/javascripts/bar.js"></script>
</html>