<!DOCTYPE html>
<html>
<head>
    <title>Energy</title>
    <% include ../views/templates/head %>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="/javascripts/compare.js"></script>
</head>
<body>

<% include ../views/templates/nav %>

<div class="container-fluid" style="margin-left: 5%; margin-right: 5%;">
    <h1>Core Metrics</h1>

    <div class="row">
        <div class="col-md-12">
            <h4>Company</h4>
            <select class="selectpicker" title="EDB" id="company-select">
            <option>No data</option>
            </select>
        </div>
    </div>

<div id="compare-div"></div>

<div class="row">
    <div class="col-md-12" id="search-div">
        <button type="button" class="btn btn-primary" id="search-btn-compare">Search</button>
    </div>
    <div class="row">
        <div class="col-md-12" id="error-div"></div>
    </div>
</div>

    <!--CPI Inputs-->
    <div class="row" style="margin-top: 2%;">
        <div class="col-sm-12">
            <div class="form-group input-horizontal">
                <h4><b>Set CPI:</b></h4>
            </div>

            <form id="cpi-form"  onsubmit="return applyCPI()" >

                <div class="form-group input-horizontal">
                    <label for="inputdefault">2012</label>
                    <input name="Y2012" class="form-control cpi-form" id="Y2012" type="text" value="1.00">
                </div>

                <div class="form-group input-horizontal">
                    <label for="inputdefault">2013</label>
                    <input name="Y2013" class="form-control cpi-form" id="Y2013" type="text" value="1.00">
                </div>
                <div class="form-group input-horizontal">
                    <label for="inputdefault">2014</label>
                    <input name="Y2014" class="form-control cpi-form" id="Y2014" type="text" value="1.40">
                </div>
                <div class="form-group input-horizontal">
                    <label for="inputdefault">2015</label>
                    <input name="Y2015" class="form-control cpi-form" id="Y2015" type="text" value="0.5">
                </div>
                <div class="form-group input-horizontal">
                    <label for="inputdefault">2016</label>
                    <input  name="Y2016" class="form-control cpi-form" id="Y2016" type="text" value="1.00">
                </div>
            </form>
        </div>
    </div>

    <!--CPI Button-->
    <div class="row">
        <div class="col-sm-12">
            <button type ="button" class ="btn btn-primary" onclick="applyCPI()">Apply cpi</button>
            <button type="button" class="btn btn-warning" onclick="revertCPI()">Revert</button>
        </div>
    </div>


    <!--Tabs-->
    <div class="row text-center" style="margin-top: 2%">
        <div class="col-md-12 text-center">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Selection A</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Selection B</a></li>
                        <li><a href="#tab3default" data-toggle="tab">Selection C</a></li>
                        <li><a href="#tab4default" data-toggle="tab">Selection D</a></li>
                        <li><a href="#tab5default" data-toggle="tab">A over B</a></li>
                        <li><a href="#tab6default" data-toggle="tab">C over D</a></li>
                        <li><a href="#tab7default" data-toggle="tab">Vector Graph A/C</a></li>
                        <li><a href="#tab8default" data-toggle="tab">Vector Graph A/B over C/D </a></li>
                    </ul>
                </div>

                <!--Tab Content-->
                <div class="panel-body">
                    <!--Tab content-->
                    <div class="tab-content">

                        <!--Table A content-->
                        <div class="tab-pane fade in active" id="tab1default">
                            <!--Wrapped in a div for table A to easily hide it-->
                            <div id="full-table-a-div" class="full-table full">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center ">
                                        <h2 class="table-title"><b>Selection A</b></h2>
                                        <table class="table table-nonfluid" id="tableA"></table>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <div class="row group-row" >
                                    <div class="col-lg-12 text-center" id="grouped-bar-a" ></div>
                                </div>

                                <div class="row text-center whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotA-div"></div>
                                </div>
                            </div>
                        </div>

                        <!--Tab 2 Content-->
                        <div class="tab-pane fade" id="tab2default">
                            <!--Wrapped in a div for table B to easily hide it-->
                            <div id="full-table-b-div" class="full-table full">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center">
                                        <h2 class="table-title"><b>Selection B</b></h2>
                                        <table class="table" id="tableB"></table>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row group-row">
                                    <div class="col-lg-12 text-center" id="grouped-bar-b"></div>
                                </div>

                                <div class="row text-center whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotB-div"></div>
                                </div>
                            </div>
                        </div>

                        <!--Tab 3 content-->
                        <div class="tab-pane fade" id="tab3default">
                            <!--Wrapped in a div for table C to easily hide it-->
                            <div id="full-table-c-div" class="full-table full">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <h2 class="table-title"><b>Selection C</b></h2>
                                        <table class="table" id="tableC"></table>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row group-row">
                                    <div class="col-lg-12 text-center" id="grouped-bar-c"></div>
                                </div>

                                <div class="row text-center whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotC-div"></div>
                                </div>
                            </div>
                        </div>

                        <!--Table 4 Content-->
                        <div class="tab-pane fade" id="tab4default">
                            <!--Wrapped in a div for table D to easily hide it-->
                            <div id="full-table-d-div" class="full-table full">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <h2 class="table-title"><b>Selection D</b></h2>
                                        <table class="table" id="tableD"></table>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row group-row">
                                    <div class="col-lg-12 text-center" id="grouped-bar-d"></div>
                                </div>

                                <div class="row whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotD-div"></div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="tab5default">
                            <!--Wrapped in a div for table A/B to easily hide it-->
                            <div class="full-table full" id="full-table-ab-div">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <h2 class="table-title"><b>Table selection  A over  selection B</b></h2>
                                        <table class="table" id="tableAB"></table>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row group-row">
                                    <div class="col-lg-12 text-center" id="grouped-bar-ab"></div>
                                </div>

                                <div class="row whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotAB-div"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab6default">
                            <!--Wrapped in a div for table C/D to easily hide it-->
                            <div id="full-table-cd-div" class="full-table full">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <h2 class="table-title"><b>Table selection  C over selection D</b></h2>
                                        <table class="table" id="tableCD"></table>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="row group-row">
                                    <div class="col-lg-12 text-center" id="grouped-bar-cd"></div>
                                </div>

                                <div class="row whisk-row">
                                    <div class="col-lg-12 text-center" id="boxplotCD-div"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab7default">
                            <div id="vector-full-div-ab" class="full-table full">
                                <div class="row text-center" style="margin-top: 2%;">
                                    <h2 class="table-title"><b>Vector graph A over C</b></h2>
                                    <div class="col-lg-12 text-center" id="vector-graph-div-ac" style="margin-bottom: 2%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab8default">
                            <div id="vector-full-div-abcd" class="full-table full">
                                <div class="row text-center" style="margin-top: 2%;">
                                    <h2 class="table-title"><b>Vector graph (A over B) over (C over D)</b></h2>
                                    <div class="col-lg-12 text-center" id="vector-graph-div-abcd" style="margin-bottom: 2%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>






</div>

</body>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="/javascripts/barGroup.js"></script>
<script src="/javascripts/box.js"></script>
<script src="/javascripts/boxPlot.js"></script>
<script src="/javascripts/vectorGraph.js"></script>

<script>
    if('<%- selections %>' !== ""){
        var s =   JSON.parse('<%- selections %>');
        if(s.length > 0){
            loadFromURL(s);
        }
    }  else {
        loadInSections(false,null);
    }
</script>

</html>