<!DOCTYPE html>
<html>
<head>
    <title>Energy</title>
    <% include ../views/templates/head %>
    <script src="/javascripts/compare.js"></script>
</head>
<body>

<% include ../views/templates/nav %>

<h1>Compare Sections</h1>

<div class="row">
    <div class="col-md-12">
    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>
    </div>

</div>

<div id="compare-div" style="margin-top: 1%; margin-bottom: 3%"></div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="search-btn-compare">Search</button>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <h4>Table A</h4>
        <table class="table" id="tableA"></table>
    </div>

    <div class="col-lg-9" id="grouped-bar-a"></div>
</div>

<div class="row">
    <div class="col-lg-3">
        <h4>Table B</h4>
        <table class="table" id="tableB"></table>
    </div>
    <div class="col-lg-9" id="grouped-bar-b"></div>
</div>

<div class="row">
    <div class="col-lg-3">
        <h4>Table C</h4>
        <table class="table" id="tableC"></table>
    </div>
    <div class="col-lg-9" id="grouped-bar-c"></div>
</div>

<div class="row">
    <div class="col-lg-3">
        <h4>Table D</h4>
        <table class="table" id="tableD"></table>
    </div>
    <div class="col-lg-9" id="grouped-bar-d"></div>
</div>


<div class="row">
    <div class="col-lg-3">
        <h4>Table  A over B</h4>
        <table class="table" id="tableAB"></table>
    </div>
    <!--<div class="col-lg-9" id="grouped-bar-d"></div>-->
</div>

<div class="row">
    <div class="col-lg-3">
        <h4>Table  C over D</h4>
        <table class="table" id="tableCD"></table>
    </div>
    <!--<div class="col-lg-9" id="grouped-bar-d"></div>-->
</div>


<div class="row text-center">
    <h1>Box Plots</h1>
    <div class="col-lg-6 text-center" id="boxplotA-div"></div>
    <div class="col-lg-6 text-center" id="boxplotB-div"></div>
</div>

<div class="row">
    <div class="col-lg-6 text-center" id="boxplotC-div"></div>
    <div class="col-lg-6 text-center" id="boxplotD-div"></div>
</div>


<div class="row">
    <div class="col-lg-12 text-center" id="vector-graph-div"></div>

</div>


</body>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="/javascripts/barGroup.js"></script>
<script src="/javascripts/box.js"></script>
<script src="/javascripts/boxPlot.js"></script>
<script src="/javascripts/vectorGraph.js"></script>

<script>
    if('<%- selections %>' !== ""){
        var s =   JSON.parse('<%- selections %>');
        if(s.length > 0){
            loadFromURL(s);
        }
    }  else {
        loadInSections();
    }
</script>

</html>