  <!DOCTYPE html>
  <html>
  <head>
    <title>Core Metrics</title>
    <!--The head template containing the required scripts-->
    <% include ../views/templates/head %>

    <!--Form validation plugin-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="/javascripts/d3-tip.js"></script>
  </head>
  <body>

  <!-- The navigation bar template -->
  <% include ../views/templates/nav %>

  <div class="container-fluid" id="compare-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Core Metrics</h1>
      </div>
    </div>

    <div class="row">
      <h2 class="selection-title">Make your section selections</h2>
    </div>

    <!-- The selection drop downs are inserted here -->
    <div class="row block" id="compare-div">

      <div class="col-md-12" style="margin-bottom: 2%;">
        <% include ../views/templates/SelectionRows %>
      </div>
      <div class="col-md-12" id="search-div" style="margin-bottom: 1%;">
        <button type="button" class="btn btn-primary" id="search-btn-compare">Search</button>
      </div>
    </div>

    <!-- Holds the search button for selections and a div for errors -->
    <!-- <div class="row block">
      <div class="col-md-12" id="search-div">
        <button type="button" class="btn btn-primary" id="search-btn-compare">Search</button>
      </div>
    </div> -->

    <!-- Row for error message when Partial selection made -->
    <div class="row">
        <div class="col-md-12" id="error-div"></div>
    </div>

    <!-- CPI Inputs -->

    <div class="row text-left">
      <h3 class="selection-title">Set Consumer Price Index percentages</h3>
    </div>

    <div class="row block" id="compare-div">
      <div class="col-md-12 inner-block" style="margin-bottom: 1%; margin-top: 1%;">
        <% include ../views/templates/CPITemplate %>
      </div>

      <!--CPI Buttons apply and revert -->
      <div class="col-md-12" style="margin-bottom: 1%;">
        <button type ="button" class ="btn btn-primary" onclick="CompareModule.applyCPI()">Apply cpi</button>
        <button type="button" class="btn btn-warning" onclick="CompareModule.revertCPI()">Revert</button>
      </div>
    </div>






    <!--Tabs for content -->
    <div class="row text-center" style="margin-top: 2%">
        <div class="col-md-12 text-center">
              <div class="panel with-nav-tabs panel-default tab-background">
                  <div class="panel-heading">
                      <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab-a" data-toggle="tab">Selection A</a></li>
                          <li><a href="#tab-b" data-toggle="tab">Selection B</a></li>
                          <li><a href="#tab-c" data-toggle="tab">Selection C</a></li>
                          <li><a href="#tab-d" data-toggle="tab">Selection D</a></li>
                          <li><a href="#tab-ab" data-toggle="tab">A over B</a></li>
                          <li><a href="#tab-cd" data-toggle="tab">C over D</a></li>
                          <li><a href="#tab7default" data-toggle="tab">Vector Graph A/B over C/D </a></li>
                      </ul>
                  </div>

                  <!--Tab Content-->
                  <div class="panel-body tab-background">
                      <div class="tab-content">

                          <!--Table A content-->
                          <% var data= { tableID : 'a'}; %>
                          <% include ../views/templates/dashboard.ejs %>

                          <!--Table B Content-->
                          <% var data= { tableID : 'b'}; %>
                          <% include ../views/templates/dashboard.ejs %>

                          <!--Table C content-->
                          <% var data= { tableID : 'c'}; %>
                          <% include ../views/templates/dashboard.ejs %>

                          <!--Table D Content-->
                          <% var data= { tableID : 'd'}; %>
                          <% include ../views/templates/dashboard.ejs %>

                          <!--Table AB content-->
                          <% var data= { tableID : 'ab'}; %>
                          <% include ../views/templates/dashboard.ejs %>


                          <!-- Table CD content -->
                          <!--<div class="tab-pane fade" id="tab6default">-->
                            <% var data= { tableID : 'cd'}; %>
                            <% include ../views/templates/dashboard.ejs %>

                          <!-- ABCD Vector Graph content -->
                          <div class="tab-pane fade" id="tab7default">
                              <div id="vector-full-abcd" class="full-table full">
                                  <div class="row text-center" >
                                      <div id="title-vector-abcd" class="text-center graph-title"></div>
                                      <div class="col-lg-12 text-center" id="vector-graph-abcd" style="margin-bottom: 2%"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
  <!-- Scipts -->
  <script src="https://d3js.org/d3-timer.v1.min.js"></script>
  <!-- <script src="/javascripts/bar.js"></script>
  <script src="/javascripts/barGroup.js"></script>
  <script src="/javascripts/box.js"></script>
  <script src="/javascripts/boxPlot.js"></script>
  <script src="/javascripts/vectorGraph.js"></script>
  <script src="/javascripts/compare/CPIModule.js"></script>
  <script src="/javascripts/compare/Table.js"></script>
  <script src="/javascripts/compare/TableModule.js"></script>
  <script src="/javascripts/compare/CombinedGraph.js"></script>
  <script src="/javascripts/compare/Graph.js"></script>
  <script src="/javascripts/compare/GraphModule.js"></script>
  <script src="/javascripts/compare/CompareModule.js"></script>
  <script src="/javascripts/compare/compare.js"></script>
  <script src="/javascripts/compare/SelectionRowsController.js"></script> -->

  <script src="/dist/scripts.min.js"></script>
  <script src="/dist/compare.min.js"></script>


  <script>
      $('.clear').on('click', function(event){
        var idNumb = event.target.id.charAt(event.target.id.length-1);
        selectionRows.clear(idNumb);
      });

      var s =  <%- JSON.stringify(selections) %>;
      if('<%- selections %>' !== ""){

          if(s.length > 0){
              console.log("loading from url")
              CompareModule.loadSearchFromURL(s);
          } else {
            selectionRows.init([],false);
          }
      }
  </script>

  </html>
