<!DOCTYPE html>
<html>
<head>
    <title>Energy</title>
    <% include ../views/templates/head %>
    <script src="/javascripts/compare.js"></script>
</head>
<body>

<% include ../views/templates/nav %>

<h1>Compare Sections</h1>


<div class="row">
    <div class="col-md-12">
    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>
    </div>

</div>

<div id="compare-div">

</div>




<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="search-btn-compare">Search</button>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <h4>Table A</h4>
        <table class="table" id="tableA"></table>

    </div>
    <div class="col-lg-3">
        <h4>Table B</h4>
        <table class="table" id="tableB"></table>
    </div>
    <div class="col-lg-3">
        <h4>Table C</h4>
        <table class="table" id="tableC"></table>
    </div>
    <div class="col-lg-3">
        <h4>Table D</h4>
        <table class="table" id="tableD"></table>
    </div>
</div>


<div class="row">
    <!--Div for first table bar graph-->
    <div class="col-md-12" id="grouped-bar-a"></div>
</div>


</body>
<script src="/javascripts/barGroup.js"></script>
<script>
    if('<%- selections %>' !== ""){
        var s =   JSON.parse('<%- selections %>');
        console.log("Selections Length " + s);
        if(s.length > 0){
            loadFromURL(s);
        }
    }
</script>

</html>