<!DOCTYPE html>
<html>
<head>
    <title>Energy Core</title>
    <% include ../views/templates/head %>

    <!--Jquery validation-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

</head>
<body>
<% include ../views/templates/nav%>

<h1>Core Measures</h1>

<div class="row" style="margin-top: 2%;">
<div class="col-md-12">
    <div class="form-group input-horizontal">
    <h4 style="margin-top: 42%;"><b>Set CPI:</b></h4>
    </div>

    <form id="cpi-form"  onsubmit="return applyCPI()" >

    <div class="form-group input-horizontal">
    <label for="inputdefault">2012</label>
    <input name="Y2012" class="form-control " style="width: 100%;" id="" type="text">
    </div>

    <div class="form-group input-horizontal">
        <label for="inputdefault">2013</label>
        <input name="Y2013" class="form-control" style="width: 100%;" id="" type="text">
    </div>
    <div class="form-group input-horizontal">
        <label for="inputdefault">2014</label>
        <input name="Y2014" class="form-control" style="width: 100%;" id="" type="text">
    </div>
    <div class="form-group input-horizontal">
        <label for="inputdefault">2015</label>
        <input name="Y2015" class="form-control" style="width: 100%;" id="" type="text">
    </div>
    <div class="form-group input-horizontal">
        <label for="inputdefault">2016</label>
        <input  name="Y2016" class="form-control" style="width: 100%;" id="" type="text">
    </div>

        <div class="form-group">
            <input class="btn btn-primary" id="apply-btn" type="submit" value="Apply CPI">
        </div>
        
    </form>
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--Selector for measure-->
        <select class="selectpicker" title="Select measure" id="measure-select">
            <option>Competition & Reliability</option>
            <option>Circuit Comparisons</option>
            <option>Revenue and Expenditure Proportions</option>
        </select>
    </div>
</div>

</body>
<script src="/javascripts/core.js"></script>

</html>
