<!DOCTYPE html>
<html>
  <head>
    <title>Energy</title>
    <% include ../views/templates/head %>
  </head>
  <body>
  <% include ../views/templates/search-bar %>
  <% include ../views/templates/filter%>


  <div class="row" style="margin-top: 2%;">
    <div class="col-md-12 text-center">
      <table class="table" id="results-table">

      </table>
    </div>
  </div>

  </body>
</html>
