<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <!--Include the header template-->
    <% include ../views/templates/head %>
</head>

<body>
<div class="container-fluid">
    <!--Include the search bar template-->
    <% include ../views/templates/search-bar %>

    <div class="row" id="results">
        <div class="col-md-12">
            <h1 id="test">Not saying Hello</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="bar"></div>
        </div>
    </div>
</div>

<script>
    // Grab the new data array
    var clientGameState =  JSON.parse('<%- data %>');

    // Show the graph with the data
    showYearBarGraph(clientGameState);
</script>
</body>
</html>