
<div class="row" >
  <div class="col-sm-12">
    <!-- <h4><b>Set CPI:</b></h4> -->
    <!-- <div class="form-group input-horizontal">

    </div> -->

    <!-- Form for CPI -->
    <form id="cpi-form"  onsubmit="return applyCPI()" class="cpi">

      <!-- 2012 -->
      <div class="form-group input-horizontal">
        <label for="inputdefault">2012</label>
        <input name="Y2012" class="form-control cpi-form" id="Y2012" type="text" value="1.00">
      </div>

      <!-- 2013 -->
      <div class="form-group input-horizontal">
        <label for="inputdefault">2013</label>
        <input name="Y2013" class="form-control cpi-form" id="Y2013" type="text" value="1.00">
      </div>

      <!-- 2014 -->
      <div class="form-group input-horizontal">
        <label for="inputdefault">2014</label>
        <input name="Y2014" class="form-control cpi-form" id="Y2014" type="text" value="1.40">
      </div>

      <!-- 2015 -->
      <div class="form-group input-horizontal">
        <label for="inputdefault">2015</label>
        <input name="Y2015" class="form-control cpi-form" id="Y2015" type="text" value="0.5">
      </div>

      <!-- 2016 -->
      <div class="form-group input-horizontal">
        <label for="inputdefault">2016</label>
        <input  name="Y2016" class="form-control cpi-form" id="Y2016" type="text" value="1.00">
      </div>
    </form>
  </div>
</div>
