<div class="row">

    <select class="selectpicker"  title="Section" id="section-select">
        <option>No data</option>
    </select>


    <select class="selectpicker" title="Category" id="category-select">
        <option>No data</option>
    </select>

    <select class="selectpicker" title="Subsection" id="subsection-select">
        <option>No data</option>
    </select>

    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>

    <button type="button" class="btn btn-default" onclick="search()">Search</button>


    <script>
        // Grab the new data array
        var sections =  JSON.parse('<%- sections %>');

        if(sections.length !== 0){
            $('#section-select').html(""); // Empty temp options
        }

        for(var i = 0; i < sections.length; i++){
            $('#section-select').append('<option>' + sections[i] + '</option>');
        }
        $(".selectpicker").selectpicker('refresh');
    </script>

</div>