<div class="row">

    <!--Selector for section-->
    <select class="selectpicker"  title="Section" id="section-select">
        <option>No data</option>
    </select>

    <!--Selector for category-->
    <select class="selectpicker" title="Category" id="category-select">
        <option>No data</option>
    </select>

    <!--Selector for sub section-->
    <select class="selectpicker" title="Subsection" id="subsection-select">
        <option>No data</option>
    </select>

    <h5 id="error" style="color: red"></h5>

    <h4>Company</h4>
    <select class="selectpicker" title="EDB" id="company-select">
        <option>No data</option>
    </select>

    <!--Search button-->
    <button type="button" class="btn btn-default" id="search-btn">Search</button>


    <script>
        // Grab the new data array
        var sections =  JSON.parse('<%- sections %>');
        sections.sort(function(a,b){
            // First check simple case of number difference
            var i = 0;
            while(!isNaN(a.charAt(i))){
                i++
            }
            var numberA = a.substring(0,i); // Gets the number from the section

            i = 0;
            while(!isNaN(b.charAt(i))){
                i++
            }

            var numberB = b.substring(0,i);

            if(numberA !== numberB) {
                return numberA - numberB;
            }

            return [a,b].sort()[0] === a ? -1 : 1; // Sort two names and return the first
        });

        if(sections.length !== 0){
            $('#section-select').html(""); // Empty temp options
        }

        for(var i = 0; i < sections.length; i++){
            $('#section-select').append('<option>' + sections[i] + '</option>');
        }
        $(".selectpicker").selectpicker('refresh');
    </script>

</div>
