<!--Nav bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Strata</a>
        </div>
        <div id="" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="data-link" class="active nav-link"><a id="data" href="/">Home</a></li>
                <li id="benchmarks-link"><a href="/compare" id="benchmarks">Core Metrics</a></li>
                <!--<li id="core-link"><a href="/core" id="core">Benchmarks</a></li>-->
            </ul>
        </div>
    </div>
</nav>
