<div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left" role="search" id="main-search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" id="search-box">
            </div>
            <button type="button" class="btn btn-default" onclick="search()">Search</button>
        </form>
        <li>
            <a class="nav navbar-right btn btn-default" id="newListings" href="/new">New Listings</a>
        </li>
    </ul>
</div>
