body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

  background: #F6F7F8;
}

/*The div that contains the table and the graphs*/
.full-table{
  background:#F0F0F0;
  background: #F6F4F3;
}

.table-edb {
  /*margin-left: 2%;*/
  /*margin-right: 2%;*/
}

.table-tot {
  /*margin-left: 2%;*/
  /*margin-right: 10%;*/
  margin-top: 4%;
}

.page-title {
  font-size: 400%;
  color: #376996;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.single-bar {
  /*fill : lightgreen;*/
}

a {
  color: #00B7FF;
}

/*The selection for a table Section and category*/
.title {
  color: steelblue;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*The text for graph axis*/
.axis-text {
  fill : black;
}

/*For span with 'over' in graph titles*/
.over {
  color: black;
  font-weight: bold;
}

/*The graph titles inserted*/
.graph-title {
  margin-left: 15%;
  margin-right: 15%;
}

.subTitle {
  margin-bottom: 10px;
  color: black;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Container that holds all content on the compare page*/
#compare-container {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

/*The titles above selection boxes*/
.selection-title{
  color: #20A4F3;
}

/*Used to align CPI inputs horizontally*/
.input-horizontal {
  display: inline-block;
  vertical-align: top;
}

/*The cpi inputs*/
.cpi-form {
  width: 100%;
}

/*Holds the rows of selections*/
#compare-div {
  margin-top: 1%;
  margin-bottom: 1%;
}

/*CPI title*/
#cpi-header {
  margin-top: 0.5%;
}

/*Each of the selection dropdown menus*/
.select-compare {
  margin-right: 0.2%;
}

/*The title that says which selection the tab is for*/
.table-title {
  color: black;
}

/*A cell in the tables*/
.cell {
  border: 1px solid darkgrey;
  padding-right: 0px;
  margin-right: 200px;

}

/*The rows in the table*/
.table-row {
  border: 1px solid lightgrey;
  color: black;
  background-color: white;
}

/*tHe class added and removed from table rows when they are clicked on*/
.row-selected {
  color: green;
}

/*Div that holds all the tab content*/
.full {
  display: none;
}

/*Box plot CSS*/
.box {
  /*font: 10px sans-serif;*/
}



/*.box circle*/
.box line,
.box rect {
  fill: #64B5F6;
  stroke: #000; /* circle stroke*/
  stroke-width: 1px;
}

/*Dot for scatter plot*/
.dot {
  fill : #FFFF66;
  stroke: #000;
  stroke-width: 1px;
}

/*A selected point on the vector graph*/
.vec-dot-selected {
  stroke-width : 2;
  stroke : green;
  fill : #90EE90;
}

.box .center {
  stroke-dasharray: 3,3;
}

.group-row {
  margin-top: 2%;
}

.whisk-row {
  margin-top: 2%;
  padding-bottom: 2%;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.cap {
  font-size: 24px;
  color: steelblue;
}


/*The top row of each table with EBD header and years*/
.table-head {
  font-size: 16px;
  color: black;
  /*font-weight: bold;*/
  background: lightgrey;
}


.axis {
  font: 8px sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.tab-background {
  background: #376996;
  background: lightgrey;
}

.g-text {
  stroke: none;
  fill: black;
  shape-rendering: crispEdges;

}

.unit-text {
  fill: steelblue;
  shape-rendering: crispEdges;
}

/*Each table has this class to space from the border*/
.table-col {
  margin-right: 1%;
  margin-left: 1%;
}

/*D3 TIP CSS*/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.total-title {
  margin-top: 10%;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.line-selected {
  stroke-width : 5;
}

.line-selected-table {
  stroke-width : 5;
}

.y-group {
  font: 8px sans-serif;
  fill : #fff;
}

/*Used to make svg responsive*/
.svg-container {
	display: inline-block;
	position: relative;
  text-align: center;
	width: 85%;
	padding-bottom: 0.5%;
	vertical-align: middle;
	overflow: hidden;
}

/*Used to make svg responsive*/
.svg-container-box {
	display: inline-block;
  text-align: center;
	position: relative;
	width: 65%;
	padding-bottom: 2%;
	vertical-align: middle;
	overflow: hidden;
}

/*Nav bar css*/
/*https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}
